@import "reset.scss";

@import "lem_mixins/lem_mixins/lem_mixins.scss";

@import "partials/_fonts.scss";
@import "partials/_variables.scss";
@import "partials/_typography.scss";



.back-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page {
    overflow: hidden;
}

.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
}

section {
    padding: 0 20px;
}

.rect-outer {
    position: relative;
    .rect-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }
}


.responsive-table {
    overflow-x: auto;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;

    thead {
        th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            font-weight: 700;
        }
    }
    th {
        padding: 12px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-weight: 700;
    }

    td {
        padding: 12px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}


.test-enter-active, .test-leave-active {
    transition: .5s;
}
.test-enter, .test-leave-active {
    opacity: 0;
    transform: translateX(30px);

}



@import "partials/_section-features-blocks.scss";
@import "partials/_section-intro.scss";
@import "partials/_section-features-list.scss";
