.section-intro {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  .container {
    z-index: 2;
    position: relative;
  }

  .section-title {
    text-transform: none;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
  }
}