.section-features-list {
  $mobile-size: 800px;
  padding: 60px 0;

  @include adaptive-padding(1200, 500, 60 0, 40 0, true);

  .section-title {
    text-align: center;
  }

  .features-list {
    > li {
      padding: 30px 0 0;
    }

    .desc {
      padding: 20px 0 0;
    }
  }
}